doctype html
html(lang='en').bg-light

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Matthew W. Thomas & Maria Fernanda Petri Betto are getting married on July 26, 2025 in São Paulo, Brazil. Join us for the celebration!')
        meta(name='author' content='Matthew W. Thomas and Maria Fernanda Petri Betto')

        title Matthew &amp; Maria Fernanda | Wedding Site

        //- Preload the masthead background image
        link(rel='preload' as='image' type='image/png'
            imagesrcset='../assets/img/card4/xs-1x.png, ../assets/img/card4/xs-2x.png 2x'
            media='(width < 576px)'
        )
        link(rel='preload' as='image' type='image/png'
            imagesrcset='../assets/img/card4/sm-1x.png, ../assets/img/card4/sm-2x.png 2x'
            media='(576px <= width < 768px)'
        )
        link(rel='preload' as='image' type='image/png'
            imagesrcset='../assets/img/card4/md-1x.png, ../assets/img/card4/md-2x.png 2x'
            media='(768px <= width < 992px)'
        )
        link(rel='preload' as='image' type='image/png'
            imagesrcset='../assets/img/card4/lg-1x.png, ../assets/img/card4/lg-2x.png 2x'
            media='(min-width: 992px)'
        )

        link(rel='icon' type='image/svg+xml' href='/assets/img/favicon.svg')
        link(rel='icon' type='image/png' href='/assets/img/favicon.png')

        //- Bunny fonts
        link(href='https://fonts.bunny.net/css?family=parisienne:400&display=swap' rel='stylesheet')

        //- Core theme CSS (includes Bootstrap)
        link(href='/css/styles.css?v=' + new Date().getTime(), rel='stylesheet')

    body.bg-white.bg-cream-paper.constrained

        //- Navigation
        nav#mainNav.navbar.navbar-expand-lg.shadow-sm
            .container.px-4.px-lg-5
                a.navbar-brand(href='/en/')
                    img(src='/assets/img/mm.svg' alt='Matthew & Maria Fernanda' height='30')
                button#navbarToggle.navbar-toggler.navbar-toggler-right.collapsed(type='button' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#schedule') Schedule
                        li.nav-item
                            a.nav-link(href='#registry') Registry
                        li.nav-item
                            a.nav-link(href='#hotels') Accommodations
                        li.nav-item
                            a.nav-link(href='#todo') Travel Guide

        //- Masthead
        header.masthead.d-flex.flex-row.text-secondary.bg-light.bg-cream-paper.border-top.border-bottom.border-secondary-subtle.shadow-sm
            //- Fixed object that takes 100% of the parent
            #masthead-bg.position-absolute.w-100.h-100
            .container.px-4.px-lg-5.d-flex.align-items-center.flex-column
                h1.text-center 
                    span Matthew
                    |  &amp; 
                    span Maria Fernanda
                h2.text-center 
                    | were married on 
                    time(datetime='2025-07-26 18:00:00-0300') July 26, 2025
                    |  in 
                    data(title='Rosewood São Paulo' value='Al. Rio Claro, 20, São Paulo - SP, 01332-000, Brazil') São Paulo, Brazil
                #countdown.d-flex.flex-row.justify-content-center.flex-wrap.my-4(data-countdown-date='2025-07-26 18:00:00-0300')
                    .d-flex.flex-column.align-items-center.p-2.m-2.bg-primary.bg-paper-fibers.cutout-text.shadow-sm.rounded
                        span.countdown-number(aria-labelledby='label-days' data-countdown-unit='days') 00
                        span.countdown-unit(name='label-days') days
                    .d-flex.flex-column.align-items-center.p-2.m-2.bg-primary.bg-paper-fibers.cutout-text.shadow-sm.rounded
                        span.countdown-number(aria-labelledby='label-hours' data-countdown-unit='hours') 00
                        span.countdown-unit(name='label-hours') hours
                    .d-flex.flex-column.align-items-center.p-2.m-2.bg-primary.bg-paper-fibers.cutout-text.shadow-sm.rounded
                        span.countdown-number(aria-labelledby='label-minutes' data-countdown-unit='minutes') 00
                        span.countdown-unit(name='label-minutes') minutes
                    .d-flex.flex-column.align-items-center.p-2.m-2.bg-primary.bg-paper-fibers.cutout-text.shadow-sm.rounded
                        span.countdown-number(aria-labelledby='label-seconds' data-countdown-unit='seconds') 00
                        span.countdown-unit(name='label-seconds') seconds
                a.mx-auto.btn.btn-primary.fw-bold.bg-paper-fibers.cutout-text(href='/en/album/') Photos and Video

        //- Theme JS (includes Bootstrap)
        script!= renderScripts(["homepage"])

        //- Venue & Schedule
        section#schedule.schedule-section.bg-light.bg-handmade-paper.shadow-sm
            .container

                //- Title
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h2.mb-4 Venue &amp; Schedule
                        p We're excited to celebrate this special day with you! Both the ceremony and reception will take place within the Rosewood São Paulo hotel's complex. The dress code is formal and parking and valet services are available onsite.

                //- Two Columns of Cards
                .row.my-4
                    //- Ceremony
                    .col-lg.mb-4.my-lg-0
                        .card.text-center.h-100.shadow-sm
                            img.card-img-top(src='/assets/img/rosewood1.jpg' alt='Ceremony Venue' loading='lazy')
                            .card-body 
                                h3.card-title Ceremony
                                p.card-text Located in the Rosewood São Paulo complex, the 1922's Chapel was entirely restored, marking the rebirth of a historical heritage that keeps the memory of the city's growth and the Italian immigration to Brazil at the beginning of the 20th century.
                                p.card-text 
                                    em 
                                        | The ceremony will begin promptly on 
                                        time.fw-bold(datetime='2025-07-26 18:00:00-0300') July 26 at 6pm
                                        | .
                            .card-footer
                                address.m-0
                                    strong Address:
                                    | 
                                    a(href='https://maps.app.goo.gl/iyPGE872kzMptWFU6' target='_blank') Al. Rio Claro, 40, São Paulo, Brazil

                    //- Reception
                    .col-lg.my-4.my-lg-0
                        .card.text-center.h-100.shadow-sm
                            img.card-img-top(src='/assets/img/rosewood2.jpg' alt='Reception Venue' loading='lazy')
                            .card-body
                                h3.card-title Reception
                                p.card-text Rosewood São Paulo locates within Cidade Matarazzo, a transformed complex of historic buildings in the heart of São Paulo. The project, led by entrepreneur Alexandre Allard and designed by architect Jean Nouvel and artistic director Philippe Starck, emphasizes the sustainability and preservation of Brazil's cultural heritage.
                                p.card-text 
                                    em Reception to follow immediately after the ceremony.
                            .card-footer
                                address.m-0
                                    strong Address:
                                    | 
                                    a(href='https://maps.app.goo.gl/UyuSpFAiV3htTtyG9' target='_blank') Al. Rio Claro, 20, São Paulo, Brazil

                hr

                //- After the Wedding
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h3.mb-4 After the Wedding
                        p 
                            | Because we know many of you will be traveling a long way to celebrate with us, we have planned an optional weeklong post-wedding trip to a beachfront resort on the east coast of Brazil. An additional flight from São Paulo (GRU/CGH) to Bahia (SSA) is required to get to the resort.
                .row.my-4.justify-content-center
                    .col-lg-6
                        .card.text-center.w-100.shadow-sm
                            img.card-img-top(src='/assets/img/iberostar.jpg' alt='Reception Venue' loading='lazy')
                            .card-body
                                h4.card-title Optional Post-Wedding Trip
                                p.card-text
                                    | The 
                                    a(href='https://www.iberostar.com/en/hotels/praia-do-forte/iberostar-selection-praia-do-forte/' target='_blank') Iberostar Selection Praia do Forte
                                    | , an all-inclusive beachfront resort in Bahia, Brazil. Whether you want to relax on the beach, chill by the pool, or enjoy the resort's amenities, we hope you'll join us for a few days of fun in the sun.
                                p.card-text 
                                    em
                                        | Hotel dates 
                                        time.fw-bold(datetime='2025-07-29 11:00:00-0300') July 29
                                        |  to 
                                        time.fw-bold(datetime='2025-08-06 15:00:00-0300') August 6
                                        | . 
                                        a(href='mailto:bahia@matthewandmaria.com') Register by email
                                        | .
                            .card-footer
                                address.m-0
                                    strong Address:
                                    | 
                                    a(href='https://maps.app.goo.gl/ck1ZubupSzxFfxxE8' target='_blank') Iberostar Selection Praia do Forte, Bahia, Brazil

        //- Registry
        section#registry.registry-section.bg-primary.bg-paper-fibers.shadow-sm
            .container.p-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center.text-white
                        h2.mb-4 Registry
                        p
                            strong You can find our registry on myregistry.com. This service aggregates several smaller registries with Crate &amp; Barrel, Lenox, Pottery Barn, and OXO.
                        a.btn.btn-warning.fw-bold.bg-paper-fibers(href='https://www.myregistry.com/giftlist/matthewandmaria' role='button' target='_blank') View Our Registry

        //- Hotels
        section#hotels.hotel-section.bg-light.bg-cream-paper.shadow-sm
            .container.px-4.px-lg-5

                //- Title
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h2.mb-4 Accommodations &amp; Hotel Suggestions

                //- Featured Hotel Row
                .row.gx-0.my-4.mb-lg-5.justify-content-center
                    .col-xl-8.col-lg-7
                        img.img-fluid.object-fit-cover.mb-3.mb-lg-0(src='/assets/img/rosewood2.jpg' alt='Exterior of Rosewood São Paulo' loading='lazy')
                    .col-xl-4.col-lg-5
                        .featured-text.text-center
                            a(href='https://www.rosewoodhotels.com/en/sao-paulo' target='_blank')
                                h3 Rosewood São Paulo
                            p
                                | The Rosewood São Paulo hotel is centrally located within the Cidade Matarazzo complex—just off Avenida Paulista and its numerous cultural attractions and shopping. The ceremony and reception will both take place within the hotel's property. 
                                a(href='mailto:saopaulo.reservations@rosewoodhotels.com') Guests can get a 12% discount and free breakfast when booking by emailing the property and mentioning our wedding
                                | .
                            address
                                p
                                    strong.text-uppercase Address:
                                    | 
                                    a(href='https://maps.app.goo.gl/StwrtFRVXJkzAeXU8' target='_blank') R. Itapeva, 435, São Paulo, Brazil
                            p
                                strong.text-uppercase Price range:
                                |  $500-600/night

                //- Hotel One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid.object-fit-cover(src='/assets/img/portobay.jpg' alt="L'Hotel PortoBay São Paulo entrance" loading='lazy')
                    .col-lg-6.order-lg-first
                        .text-center.h-100.hotel
                            .d-flex.h-100
                                .hotel-text.w-100.my-auto.text-center
                                    a(href='https://www.portobay.com/en/hotels/sao-paulo-hotels/l-hotel-portobay-sao-paulo/' target='_blank')
                                        h3 L'Hotel PortoBay São Paulo
                                    p
                                        | L'Hotel PortoBay São Paulo is a boutique hotel within a 10-minute walk of the venue. The hotel offers an indoor heated pool (July is winter in Brazil), a spa, and an excellent restaurant. 
                                        a(href='mailto:reservas@portobay.com.br') Guests can receive a 20% discount on the daily rate by emailing the property and mentioning our wedding
                                        | .
                                    address
                                        p
                                            strong.text-uppercase Address:
                                            | 
                                            a(href='https://maps.app.goo.gl/yj3FGjuVDhVG1yix9' target='_blank') Al. Campinas, 266, São Paulo, Brazil
                                    p 
                                        strong.text-uppercase Price range:
                                        |  $140-180/night

                //- Hotel Two Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid.object-fit-cover(src='/assets/img/intercity.jpg' alt="Intercity The Universe Paulista entrance" loading='lazy')
                    .col-lg-6
                        .text-center.h-100.hotel
                            .d-flex.h-100
                                .hotel-text.w-100.my-auto.text-center
                                    a(href='https://book.omnibees.com/hotelresults?q=3514&lang=en-US&currencyId=109&CheckIn=24072025&CheckOut=28072025&Code=WEDDING2607' target='_blank')
                                        h3 Intercity The Universe Paulista
                                    p
                                        | Intercity The Universe Paulista is located in the heart of São Paulo, just a couple of blocks from Avenue Paulista. The hotel offers a variety of amenities including a swimming pool, fitness center, dry sauna, and a restaurant. The rooms are equipped with mini kitchens, making it convenient for longer stays. 
                                        a(href='https://book.omnibees.com/hotelresults?q=3514&lang=en-US&currencyId=109&CheckIn=24072025&CheckOut=28072025&Code=WEDDING2607' target='_blank') Guests can receive a 20% discount by booking online with code
                                        | 
                                        code WEDDING2607
                                        | .
                                    address
                                        p
                                            strong.text-uppercase Address:
                                            | 
                                            a(href='https://maps.app.goo.gl/xE2uNV3meVVD1gLH9' target='_blank') R. Pamplona, 83, São Paulo, Brazil
                                    p 
                                        strong.text-uppercase Price range:
                                        |  $70-100/night

                //- Hotel Three Row
                .row.gx-0.justify-content-center
                    .col-lg-6
                        img.img-fluid.object-fit-cover(src='/assets/img/wallstreet.jpg' alt='Hotel Paulista Wall Street check-in area' loading='lazy')
                    .col-lg-6.order-lg-first
                        .text-center.h-100.hotel
                            .d-flex.h-100
                                .hotel-text.w-100.my-auto.text-center
                                    a(href='https://book.omnibees.com/hotelresults?q=13058&lang=en-US&currencyId=109&CheckIn=24072025&CheckOut=28072025&Code=MATTHEWANDMARIA' target='_blank')
                                        h3 Hotel Paulista Wall Street
                                    p
                                        | Hotel Paulista Wall Street is an all-suite inn directly across the street from the wedding venue. The premium suites were recently renovated and offer an excellent value. Its prime location in central São Paulo situates it close to many of the city's attractions. 
                                        a(href='https://book.omnibees.com/hotelresults?q=13058&lang=en-US&currencyId=109&CheckIn=24072025&CheckOut=28072025&Code=MATTHEWANDMARIA' target='_blank') Guests can receive a 12% discount by booking online with code
                                        | 
                                        code MATTHEWANDMARIA
                                        | .
                                    address
                                        p
                                            strong.text-uppercase Address:
                                            | 
                                            a(href='https://maps.app.goo.gl/1oqCQ31fJSFN9de4A' target='_blank') R. Itapeva, 636, São Paulo, Brazil
                                    p 
                                        strong.text-uppercase Price range:
                                        |  $70-100/night

        //- Getting There
        section#getting-there.getting-there-section.py-5.bg-light.bg-handmade-paper.shadow-sm
            .container.p-4.px-lg-5

                //- Title
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h2.mb-4 Getting to Brazil

                .row.gx-4.gx-lg-5.my-5

                    //- Flight Information
                    .col-lg.my-4.my-lg-0
                        h3 Flight information
                        p We recommend selecting a direct flight from one of the major U.S. cities like New York (JFK), Miami (MIA), Los Angeles (LAX), Chicago (ORD) or Washington D.C. (IAD) to São Paulo's Guarulhos International Airport (GRU). #[a(href="https://www.google.com/travel/flights?q=Flights%20to%20GRU%20on%202025-07-23%20through%202025-08-07" target="_blank") Booking through travel websites like Google Flights can help you find the best fares].
                        p Note that the flight duration varies depending on the departure city, but will typically take between 8 and 12 hours.
                        p 
                            | Ensure your passport is valid and check if a visa is required for your travel. U.S. citizens require a visa to enter Brazil for tourism, one may be obtained for $80.90 USD on the 
                            a(href='https://brazil.vfsevisa.com/' target='_blank') official e-Visa portal
                            | . Processing times can take a few days, so apply early.

                    //- Practical tips
                    .col-lg.my-4.my-lg-0
                        h3 Practical tips
                        p
                            strong Language:
                            |  Portuguese is the official language, but English is commonly spoken in tourist areas.
                        p
                            strong Currency:
                            |  The Brazilian Real (BRL) is the currency used. Credit cards (including international brands) are widely accepted.
                        p
                            strong Transportation:
                            |  São Paulo has an extensive public transportation system, including buses, metro, and trains. Taxis and ride-sharing apps are also readily available.
                        p
                            strong Safety:
                            |  Like any major city, it's important to stay aware of your surroundings and take standard safety precautions.

                //- Bird Image
                .row.justify-content-center
                    .col-lg-8.text-center
                        img.my-5.img-fluid(src='/assets/img/cbird1.png' alt='Decorative image of two birds perched on a floral arrangement' loading='lazy')

        //- What to Do
        section#todo.todo-section.bg-light.bg-cream-paper.py-5.shadow-sm
            .container.p-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h2.mb-4 What to do in São Paulo

                .row.gx-4.gx-lg-5.my-5

                    //- Sightseeing
                    .col-lg.my-4.my-lg-0
                        h3 Sightseeing
                        p Nestled in southeastern Brazil, São Paulo is a bustling metropolis renowned for its vibrant energy and cultural diversity. Skyscrapers punctuate the skyline, while sprawling parks like Ibirapuera offer serene escapes amidst the urban hustle. The city's eclectic neighborhoods—from the chic boutiques of Jardins to the bohemian charm of Vila Madalena—are adorned with colorful street art and historic architecture.
                        p 
                            a(href='https://travel.usnews.com/Sao_Paulo_Brazil/Things_To_Do/' target='_blank') U.S. News São Paulo Travel Guide
                        p
                            a(href='https://www.tripadvisor.com/Attractions-g303631-Activities-oa0-Sao_Paulo_State_of_Sao_Paulo.html' target='_blank') Tripadvisor's Things to Do in São Paulo

                    //- Dining
                    .col-lg.my-4.my-lg-0
                        h3 Dining
                        p São Paulo's culinary scene is a feast for the senses, with a diverse array of restaurants serving up everything from traditional Brazilian fare to international cuisine. The city is home to a number of Michelin-starred establishments, as well as casual eateries and food markets that showcase the region's rich gastronomic heritage.
                        p
                            a(href='https://guide.michelin.com/us/en/sao-paulo-region/restaurants?showMap=true' target='_blank') Michelin Guide
                        p
                            a(href='https://www.tripadvisor.com/Restaurants-g303631-Sao_Paulo_State_of_Sao_Paulo.html' target='_blank') Tripadvisor's Top Restaurants in São Paulo

        //- Contact
        footer.footer.small.bg-light.bg-handmade-paper.shadow-sm
            #contact.contact-section.shadow-sm.bg-spattern2
                .container.p-4.pb-5.px-lg-5
                    .row.gx-4.gx-lg-5
                        .col-md-4.mb-3.mb-md-0
                            .card.py-4.h-100
                                .card-body.text-center
                                    h3.text-uppercase.m-0 Ceremony Address
                                    hr.my-4.mx-auto
                                    .small.text-black-50
                                        address
                                            a(href='https://maps.app.goo.gl/iyPGE872kzMptWFU6' target='_blank') Capela Santa Luzia, São Paulo, Brazil
                        .col-md-4.mb-3.mb-md-0
                            .card.py-4.h-100
                                .card-body.text-center
                                    h3.text-uppercase.m-0 Email
                                    hr.my-4.mx-auto
                                    .small.text-black-50
                                        a(href='mailto:hello@matthewandmaria.com') hello@matthewandmaria.com
                        .col-md-4.mb-3.mb-md-0
                            .card.py-4.h-100
                                .card-body.text-center
                                    h3.text-uppercase.m-0 Phone/WhatsApp
                                    hr.my-4.mx-auto
                                    .small.text-black-50 
                                        a(href='tel:+16464910173') +1 (646) 491-0173
            .container.p-4.px-lg-5.signoff
                .row.my-4.justify-content-center
                    .col-lg.text-center
                        picture
                            source(srcset='/assets/img/footer/image.avif' type='image/avif')
                            img(src='/assets/img/footer/image.png' alt='Matthew & Maria Fernanda' width='1000px' loading='lazy').img-fluid
                    .col-lg-4.d-flex.flex-column.justify-content-center
                        .row.my-4
                            p.valediction We hope to see you there,
                        .row
                            .d-flex.flex-column.align-items-center.justify-content-end.author-signature
                                img(src='/assets/img/footer/signature-mwt.svg' alt='Matthew W. Thomas' width='300' loading='lazy')
                                hr.m-0.mb-4
                                p.text-uppercase Matthew W. Thomas
                            .d-flex.flex-column.align-items-center.justify-content-end.author-signature
                                img(src='/assets/img/footer/signature-mfpb.svg' alt='Maria Fernanda Petri Betto' width='300' loading='lazy')
                                hr.m-0.mb-4
                                p.text-uppercase Maria Fernanda Petri Betto
